language: node_js
node_js:
  - "8"
  - "10"
install:
  - yarn
script:
  - yarn build
  - yarn test
jobs:
  include:
    - stage: release
      node_js: lts/*
      # Advanced: optionally overwrite your default `script` step to skip the tests
      # script: skip
      deploy:
        provider: script
        skip_cleanup: true
        script:
          - npx semantic-release